# Source: zq.lu
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zq-lu
  labels:
    app: zq-lu
  namespace: web
  annotations:
    hugo: https://github.com/nresare/zq.lu
spec:
  replicas: 2
  selector:
    matchLabels:
      app: zq-lu
  template:
    metadata:
      labels:
        app: zq-lu
    spec:
      containers:
      - env:
        - name: SERVER_PORT
          value: '8080'
        name: web
        image: ghcr.io/static-web-server/static-web-server:2.36.1
        volumeMounts:
        - mountPath: /public
          name: public
          readOnly: true
      initContainers:
      - name: git
        image: alpine/git:v2.52.0
        command:
        - /bin/sh
        - -c
        - |-
          if [ ! -d /src/.git ]; then
            git clone https://github.com/nresare/zq.lu --recurse-submodules --depth=1 /src
          else
            git pull https://github.com/nresare/zq.lu --recurse-submodules
          fi
        volumeMounts:
        - mountPath: /src
          name: src
      - name: hugo
        image: floryn90/hugo:0.157.0
        volumeMounts:
        - mountPath: /src
          name: src
        - mountPath: /src/public
          name: public
      volumes:
      - name: src
        emptyDir: {}
      - name: public
        emptyDir: {}
